<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat_index.html</title>
    <style>
        .room {
            border: 1px solid dodgerblue;
        }

        ::selection {
            border: 2px solid orange
        }

        div#chatLog {
            width: 400px;
            height: 200px;
            background-color: aliceblue;
            display: none;
        }

        div#chatpad {
            display: none;
        }
    </style>
    <script>
        // window.onload = function () {
        //     var socket = io();
        //     // const urlParams = new URLSearchParams(window.location.search);
        //     // const mypID = urlParams.get('pID');
    </script>
</head>

<body>
    <div id="roomList"></div>
    <div id='chatLog'></div>
    <div id='chatPad'>
        <textarea id='chatText'></textarea>
        <button id='chatBtn'>send</button>
        <button id='roomLeave'>leave</button>
    </div>
    <script src='/socket.io/socket.io.js'></script>
    <script>
        const socket = io();

        // passport 인증 후 req.user.id를 저장
        // 그걸 프론트로 보내줌
        // 프론트에서는 그 아이디를 받아서 index.ejs에서 첫 생성된 소켓의 아이디와 
        // 묶어서 서버로 보냄.
        // 서버에서는 어떤 소켓이 생성된 것인지는 알지만, 그것이 누구의 것인지는 모름
        // 동시 로그인한 유저들이 있을 수 있으므로.
        // 그래서 socket.id를 key로 userId를 value로 묶어서 보내면
        // 서버는 socket.id를 갖고 있으므로 접근하여 처리 가능

        // 페이지 로딩과 함께 userId는 갖고 있는 상태이고
        // 비동기로 connect이벤트 발생 시 묶어서 보내준다

        socket.on('connect', () => {
            socket.emit('socket.connect', { [socket.id]: userId });
        })

        var userId = "<%=id%>";
        var profileDTO = null;
        // var userId = null;
        var rooms = null;
        var roomDTO = null;
        var chatLogDiv = document.getElementById('chatLog');
        var roomListDiv = document.getElementById('roomList');
        var chatPadDiv = document.getElementById('chatPad');
        var chatText = document.getElementById('chatText');
        var chatBtn = document.getElementById('chatBtn');
        var roomLeave = document.getElementById('roomLeave');

        chatBtn.addEventListener('click', () => {
            var chatDTO = {
                from: userId,
                to: null,
                text: chatText.value,
            }
            chatText.value = ''
            socket.emit('chat.public', chatDTO);
        })
        roomLeave.addEventListener('click', () => {
            // console.log(roomDTO);
            socket.emit('room.leave', roomDTO);
            chatText.value = ''
            chatPadDiv.style.display = "none";
            roomListDiv.style.display = "block";
            chatLogDiv.style.display = "none"
        })

        function roomListRefreshServerCall(callback) {
            socket.emit('room.list');
            socket.on('room.list.response', roomsFromServer => {
                rooms = roomsFromServer
                callback(rooms);
            })
        }

        setInterval(() => { roomListRefreshServerCall(roomListRefresher) }, 500);

        function roomListRefresher(rooms) {
            for (var key of Object.keys(rooms)) {
                var temp = document.getElementById(key);
                if (temp != null) temp.innerText = JSON.stringify(rooms[key]);
                else {
                    let newRoom = document.createElement('p');
                    newRoom.className = 'room';
                    newRoom.id = key

                    newRoom.addEventListener("dblclick", () => {
                        roomDTO = rooms[newRoom.id];
                        socket.emit('room.join', roomDTO);
                    })
                    newRoom.innerText = JSON.stringify(rooms[key]);
                    roomListDiv.appendChild(newRoom);
                }
            }
        }

        socket.on('room.join.response', ok => {
            if (ok) {
                chatLogDiv.innerHTML = null;
                chatLogDiv.style.display = "block";
                roomListDiv.style.display = "none";
                chatPadDiv.style.display = "block";
            }
        })
        // socket.on('system.invite', profileDTO => {
        socket.on('system.welcome', data => {
            // userId = profileDTO.id
            var temp = document.createElement('p');
            temp.innerText = data.packet + ' has joined.' + ' (' + data.timestamp + ')';
            chatLogDiv.appendChild(temp);
        })
        socket.on('system.farewell', data => {
            var temp = document.createElement('p');
            temp.innerText = data.packet + ' has left.' + ' (' + data.timestamp + ')';
            chatLogDiv.appendChild(temp);
        })
        socket.on('chat.public', data => {
            var temp = document.createElement('p');
            temp.innerText = data.packet.from + ': ' + data.packet.text + ' (' + data.timestamp + ')';
            chatLogDiv.appendChild(temp);
        })
    </script>
</body>

</html>