<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.ejs</title>
    <script>
        window.onload = function () {
            var prevDiv = document.getElementById('prev')
            var btn = document.getElementsByTagName('button')[0]
            var nextRoute = null

            const basicInfo = JSON.parse('<%-basicInfo %>')

            if (basicInfo.userId) {
                prevDiv.children.item[0] = basicInfo.userId
                prevDiv.children.item[1] = basicInfo.roomNumber
                btn.innerText = 'signout'
                nextRoute = '/user/signout'
            } else {
                btn.innerText = 'signin'
                nextRoute = '/user/signinpage'
            }

            btn.addEventListener('click', () => {
                window.location.replace(nextRoute)
            })
            // const urlParams = new URLSearchParams(window.location.search);
            // const mypID = urlParams.get('pID');
        }
    </script>
</head>

<body>
    <h1>this is main page (the first one)</h1>
    <button></button>
    <form action='/user/signup' method='POST'>
        username<input name='username' type='text'>
        password<input name='password' type='password'>
        <button type='submit'>submit</button>
    </form>
    <div id='prev'>
        <p></p>
        <p></p>
    </div>
</body>

</html>