<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.ejs</title>
    <script>
        window.onload = function () {
            const loginForm = document.getElementById('loginForm')
            const prevDiv = document.getElementById('prev')
            const reloginBtn = document.getElementById('reloginBtn')
            const signoutBtn = document.getElementById('signoutBtn')
            const signupBtn = document.getElementById('signupBtn')
            let nextRoute = null

            const user = "<%=user%>"

            if (user) {
                loginForm.style.display = 'none'
                prevDiv.innerText = user + ' 접속중'
                // prevDiv.children.item[1] = basicInfo.roomNumber
                reloginBtn.innerText = '이 페이지에서 접속'
                signoutBtn.innerText = 'signout'

            } else {
                // btn.innerText = 'signin'
                // nextRoute = '/user/signin'
                reloginBtn.style.display = 'none'
                signoutBtn.style.display = 'none'
                // nextRoute = '/user/signuppage/'
            }

            reloginBtn.addEventListener('click', _ => {
                window.location.replace('/user/resignin/' + user)
            })

            signoutBtn.addEventListener('click', () => {
                window.location.replace('/user/signout/' + user)
            })
            signupBtn.addEventListener('click', () => {
                console.log('signupBtn clicked')
                // window.location.replace(nextRoute)
                window.location.replace('/user/signuppage/')
            })
            // const urlParams = new URLSearchParams(window.location.search);
            // const mypID = urlParams.get('pID');
        }
    </script>
</head>

<body>
    <h1>this is main page (the first one)</h1>
    <form id='loginForm' action='/user/signin' method='POST'>
        username<input name='username' type='text'>
        password<input name='password' type='password'>
        <button type='submit'>signin</button>
    </form>
    <hr>
    <button id='reloginBtn'></button>
    <button id='signoutBtn'></button>
    <button id='signupBtn'>signup</button>
    <!-- <form action='/user/signup' method='POST'>
        signup
        username<input name='username' type='text'>
        password<input name='password' type='password'>
        <button type='submit'>submit</button>
    </form> -->
    <div id='prev'>
    </div>
</body>

</html>