<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.ejs</title>
    <script>
        window.onload = function () {
            var username = "<%=userId%>"
            username = parseInt(username)
            var btn = document.getElementsByTagName('button')[0]
            var nextRoute = null
            console.log(username)
            if (username === 0) {
                console.log('zero')
                btn.innerText = 'signin'
                nextRoute = '/signin'
            } else {
                console.log('nonzero')
                btn.innerText = 'signout'
                nextRoute = '/signout'
            }

            btn.addEventListener('click', () => {
                window.location.replace(nextRoute)
            })
            // const urlParams = new URLSearchParams(window.location.search);
            // const mypID = urlParams.get('pID');
        }
    </script>
</head>

<body>
    <h1>this is main page (the first one)</h1>
    <button></button>
</body>

</html>