<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <style></style>
    <!-- <script src='/socket.io/socket.io.js'></script> -->
    <script>
        // var socket = io();
        // console.log(socket.id)
        window.onload = function () {
            // var socket = io();
            // console.log(socket.id)
            // var signinBtn = document.getElementById("signinBtn");
            // signinBtn.addEventListener('click', (e) => {
            //     e.preventDefault();
            //     profileDTO = {
            //         pID: document.getElementById('pID').value,
            //         pPW: document.getElementById('pPW').value,
            //         pNick: document.getElementById('pNick').value,
            //         pGroup: null,
            //         pRoomID: null,
            //     }
            //     socket.emit('profile.signin', profileDTO);
            //     socket.on('profile.response', result => {
            //         if (result) location.href = "/roomlist.html";
            //     });
            //     // document.getElementById('signin').submit();
            // })
        }
    </script>
</head>

<body>
    <form action="/user/signup" method="post">
        ID<input name="username" type="text">
        PW<input name="password" type="password">
        <!-- Nick<input id="pNick" name="pNick" type="text"> -->
        <button type="submit">Sign Up</button>
    </form>
</body>

</html>